//Body
$primary-blue: #0C22C1;
$primary-red: #EA0424;
$primary-gray: #646a73;
$secondary-gray: #b1b5bc;
$light-gray: #D6DAE1;
$soft-gray: #eeeff1;

$color: (
  primary-blue: $primary-blue,
  primary-red: $primary-red,
  primary-gray: $primary-gray,
  secondary-gray: $secondary-gray,
  light-gray: $light-gray,
  soft-gray: $soft-gray,
);


